:root {
  font-family: IPingfang SC, Microsoft Yahei, sans-serif;
  font-size: 14px;
  line-height: 1.4;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #282C34;
  color: #ABB2B2;
  margin: 0;
  padding: 0;
}